@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home Page</h1>
    <p>Demo from AnhNDT!</p>
    <p>Contract to: <a href="https://www.facebook.com/anhndt27/">Facebook</a></p>
</div>