@model WebAppFinal.BusinessLayer.DTOs.EnrollmentQueryDto.EnrollmentCreateDto

@{
    ViewData["Title"] = "AddNewStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Enrollment New Student By Id</h1>
<h4>Enrollment</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.Raw(@ViewBag.Alert)
        </div>
    </div>
</div>
<div class="row shadow-inner">
    <div class="col-md-4">
        <form asp-action="AddNewStudent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CourseId" />
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="neo-left">
        <a class="btn-outline-primary btn-sm" asp-controller="Course" asp-action="Index">Back to List</a>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
