html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.form-outline {
    margin: 10px;
}


.required::before {
    content: "*";
    font-weight: bold;
    color: red;
}

.thead-table {
    background: #CC99FF;
}


.navbar-dark .nav-item .nav-link {
    color: #fff;
}

    .navbar-dark .nav-item .nav-link:hover {
        background-color: rgba(255, 255, 255, 0.1);
        transition: all 0.3s ease;
        border-radius: 0.25rem;
        color: #fff;
    }

.fa-li {
    position: relative;
    left: 0;
}

.neo-left{
    margin-left: 10px;
}

.form-group{
    margin: 10px;
}