@model ViewModel

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-4">
                        <form asp-controller="Enrollment" asp-action="AddUseModal">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            @*<input type="hidden" asp-for="model2.CourseId"/>*@
                            <div class="form-group">
                                <label asp-for="model2.CourseId" class="control-label"></label>
                                <input asp-for="model2.CourseId" class="form-control"/>
                                <span asp-validation-for="model2.CourseId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="model2.StudentId" class="control-label"></label>
                                <input asp-for="model2.StudentId" class="form-control"/>
                                <span asp-validation-for="model2.StudentId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>